nav {

    display: flex;
    width: 100%;
    background-image: linear-gradient(to right, white, rgb(84, 170, 199));
    padding: 2px;
    justify-content: space-around;
    margin: 0px;
    height: 30px;
}

nav a{
    color: rgb(2, 2, 143)ck;
    text-decoration-line: none;
    text-align: center;
    line-height: 30px;
    font-size: larger;
    font-family: 'Fjalla One', sans-serif;
}

#container{

    background-image: linear-gradient(to right, white,rgb(84, 170, 199));
}

.flex-logo{
    display: flex;
    width: 100%;

}

#logo{
    margin: 20px;
    filter: drop-shadow(0px 5px 10px black);
    opacity: 0.7;
}

#PF{
    font-size: xx-large;
    text-align:center;
    color: rgb(2, 2, 143);
    margin: 20px;
    font-family: 'Fjalla One', sans-serif;

}


.suscribe {

    background-color: lightgray;
    box-shadow: black;
    height: 25px;
    width: 100px;
    font-family: 'Fjalla One', sans-serif;
}

.flex-container-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, white,rgb(84, 170, 199));
    width: 100%;

}

.flex-container{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(2, 2, 143);
    width: 205px;
    margin: 20px;
}


.flex-container li{
    list-style: none;
    border: solid 1px rgb(2, 2, 143);
    margin: 5px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.815);
    font-family: 'Fjalla One', sans-serif;
}


.footerimg{
    background-color: rgb(2, 2, 143);
        width: 100px;
        
        
    }
.footer{
    background-color: rgb(2, 2, 143);
    justify-content: center;
    padding-top: 13px;
    padding-left: 13px;
    padding-bottom: 10px;
}

@media(max-width: 400px){

    .flex-container-section{
        flex-direction: column;
    }
    .flex-logo{
        justify-content: center;
        align-items: center;

    }
}
