nav {

    display: flex;
    width: 100%;
    background-color: rgb(84, 170, 199);
    padding: 2px;
    justify-content: space-around;
    margin: 0px;
    height: 30px;
}

nav a{
    color: rgb(2, 2, 143)ck;
    background-color:   rgb(84, 170, 199);
    text-decoration-line: none;
    text-align: center;
    line-height: 30px;
    font-size: larger;
}

#logo{
    margin: 20px;
    
}

.flex-container{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.flex-container h1, p{
    margin: 20px;
}

#container{
    background-color:  rgb(84, 170, 199);
    padding-bottom: 20px;
}

#footer{
    background-color: rgb(2, 2, 143);
        width: 100px;
        
        
    }
.footer{
    background-color: rgb(2, 2, 143);
    justify-content: center;
    padding-top: 13px;
    padding-left: 13px;
}